<div>
<header class="header_div">
    <nav class="navbar col-sm-12">
   <span class="navbar-brand">
    <a routerLink="" routerLinkActive="active" class="navbar-title"><img src="/../assets/images/annauniv_red.png" class="logo">&nbsp;&nbsp;AU VISITOR PASS</a>
  </span>
  <span class="float-right">
    <button type="button" id="navbar-toggle-button">
      <i data-feather="menu"></i>
    </button>
    <span id="navbar-links-group">
    <a routerLink="/../visitorPass" routerLinkActive="active" class="navbar-link-right">Visitor Pass</a>
    <a routerLink="/../dashBoardAdmin" routerLinkActive="active" class="navbar-link-right">DashBoard</a>
    <a href="#" class="navbar-link-right">Logout</a>
    </span>
  </span>
  </nav>
  </header>


    <div class="div-body">
      <div class="rightcolumn">
        <h3 class="rgt-title">BOOK APPOINTMENT</h3>
        <hr  />
        <div class="card">
          <form>
            <div class="form-group row">
              <label for="inputName" class="col-sm-2 col-form-label">Visitor Name</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputName" >
              </div>
            </div>

            <div class="form-group row">
              <label for="inputNumber" class="col-sm-2 col-form-label">Mobile No.</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputNumber" >
              </div>
            </div>

            <div class="form-group row">
              <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail" >
              </div>
            </div>


            <div class="form-group row">
              <label for="desgDetails" class="col-sm-2 col-form-label">Designation Details</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="desgDetails" placeholder="">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputNumber" class="col-sm-2 col-form-label">Choose Faculty</label>
              <div class="col-sm-10">
                <select class="form-control">
                  <option>Faculty1</option>
                  <option>Faculty2</option>
                  <option>Faculty3</option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label for="datePicker" class="col-sm-2 col-form-label">Date</label>
              <div class="col-sm-3">
                <input type="date" class="form-control" id="datePicker" >
              </div>
            </div>


            <div class="form-group">
              <label for="purposeTextArea">Purpose</label>
              <textarea class="form-control" id="purposeTextArea" rows="3"></textarea>
            </div>
            <div class="form-group row">
              <div class="col-sm-12" style="margin-bottom:0px;">
                <button type="button" class="btn btn-light btn-block" id="bookAppointment">Book Visit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>
