<select multiple="multiple" id="food_type">
    <optgroup label="Breakfast">
        <option value="Burger">Burger</option>
        <option value="Fries">Fries</option>
    </optgroup>
    <optgroup label="Lunch">
        <option value="Pizza">Pizza</option>
        <option value="Thali">Thali</option>
    </optgroup>
    <optgroup label="Desserts">
        <option value="Icecreame">Icecreame</option>
        <option value="Fruit Salad">Fruit Salad</option>
    </optgroup>
</select>
<script>
$("#food_type").multiselect({
    numberDisplayed: 1,
    buttonText: function (options, select) {
    return "Food Types";
    },
    enableCollapsibleOptGroups: true,
    collapseOptGroupsByDefault: true
    }).data('multiselect').$ul.find('.multiselect-group').on('click', function (e) {
      $(this).siblings('.multiselect-group').each(function(idx, ele) {
          var eles = $(ele).nextUntil('.multiselect-group');
          if (eles.find(':checked').length == 0) {
              eles.addClass('multiselect-collapsible-hidden').hide();
          }
      });
    });
</script>