
  <div class="container_index">
    <header class="header_div">
      <nav class="navbar col-sm-12">
        <span class="navbar-brand">
          <a routerLink="" routerLinkActive="active" class="navbar-title"><img src="/../../assets/images/annauniv_red.png" alt="Logo" class="logo">&nbsp;&nbsp;AU VISITOR PASS</a>
        </span>
        <span class="float-right">
          <button type="button" id="navbar-toggle-button">
            <i class="material-icons">menu</i>
          </button>
          <span id="navbar-links-group">
          <a routerLink="../visitorPass" routerLinkActive="active" class="navbar-link-right">Visitor Pass</a>
          <a routerLink="../dashBoardAdmin" routerLinkActive="active" class="navbar-link-right">DashBoard</a>
          <a href="#" class="navbar-link-right">Logout</a>
          </span>
        </span>
      </nav>
    </header>

    <div class="container-fluid "><br  />
      <div class="row">
        <div class="col-sm-3 col-md-3"><input type="date" class="form-control" id="datePicker" value="1980-08-26"></div>

        <div class="col-sm-4">
   <input type="text" class="form-control" placeholder="Search...">
        </div>

        <div class="col-sm-2 col-md-2">
          <select class="form-control">
            <option>CEG</option>
            <option>MIT</option>
          </select>
        </div>

        <div class="col-sm-2">
          <select class="form-control">
            <option selected disabled>Filter</option>
            <option>Filter option 1</option>
            <option>Filter option 2</option>
          </select>
      </div>

</div>
<br />

      <table class="table table-bordered dashtable">
        <thead class="thead-red">
          <tr>
            <th scope="col">Visit ID</th>
            <th scope="col">Name</th>
            <th scope="col">Organization, Designation</th>
            <th scope="col">Place/Person of Visit</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let visit of adminVisits; let i = index" data-toggle="modal" data-target="#visitorModal" (click)="showVisitorModal(i)">
            <th scope="row">{{visit.visit_id}}</th>
            <td>{{visit.visitor_name}}</td>
            <td>{{visit.visitor_organization}},{{visit.visitor_designation}}</td>
            <td>{{visit.place_person_of_visit}}</td>
            <td>{{visit.visit_date}}</td>
          </tr>
        </tbody>
      </table>
      <nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">Page: 1</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>
    </div>




  </div>


<!-- Modal -->
<div class="modal fade" id="visitorModal" tabindex="-1" role="dialog" aria-labelledby="visitorModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="visitorModalLabel">Visitor Details</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th scope="row">Visit Id</th>
            <td>{{selectedVisit.visit_id}}</td>
          </tr>
          <tr>
            <th scope="row">Visitor Name</th>
            <td>{{selectedVisit.visitor_name}}</td>
          </tr>
          <tr>
            <th scope="row">Visitor Organization, Designation</th>
            <td>{{selectedVisit.visitor_organization}} , {{selectedVisit.visitor_designation}}</td>
          </tr>
          <tr>
            <th scope="row">Date</th>
            <td>{{selectedVisit.visit_date}}</td>
          </tr>
          <tr>
            <th scope="row">Purpose</th>
            <td>{{selectedVisit.purpose}}</td>
          </tr>
          <tr>
            <th scope="row">Place or Person of Visit</th>
            <td>{{selectedVisit.place_person_of_visit }}</td>
          </tr>
          <tr>
            <th scope="row">Email</th>
            <td>{{selectedVisit.visitor_email}}</td>
          </tr>
          <tr>
            <th scope="row">Mobile Number</th>
            <td>{{selectedVisit.visitor_mobileno}}</td>
          </tr>

        </tbody>
      </table>

    </div>

    <div class="modal-footer">
       <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>
