<style>
  button{
    padding-left:5px;
    background-color:white;
    outline:none;
    border:none;
  }
</style>

  <div class="container_index">
    <header class="header_div">
      <nav class="navbar col-sm-12">
        <span class="navbar-brand">
          <a href="../index.html" class="navbar-title"><img src="/../../assets/images/annauniv_red.png" class="logo">&nbsp;&nbsp;AU VISITOR PASS</a>
        </span>
        <span class="float-right">
          <button type="button" id="navbar-toggle-button">
            <i class="material-icons">menu</i>
          </button>
          <span id="navbar-links-group">
          <a href="visitorPass.html" class="navbar-link-right">Visitor Pass</a>
          <a href="dashBoard.html" class="navbar-link-right">DashBoard</a>
          <a href="#" class="navbar-link-right">Logout</a>
          </span>
        </span>
      </nav>
    </header>

    <div class="container-fluid "><br  />
      <div class="row">
        <div class="col-sm-2 col-md-2"><input type="date" class="form-control" id="datePicker" value="1980-08-26"></div>

        <div class="col-sm-2 col-md-2">
          <select class="form-control">
            <option>CEG</option>
            <option>MIT</option>
          </select>
        </div>

</div>
<br />

      <table class="table table-bordered">
        <thead class="thead-red">
          <tr>
            <th scope="col">Visitor ID</th>
            <th scope="col">Visitor Name</th>
            <th scope="col">Visitor Designation</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>bbb</td>
            <td>Dean of Mit</td>
            <td>2020-04-05</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>bbb</td>
            <td>Dean of Mit</td>
            <td>2020-04-05</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>bbb</td>
            <td>Dean of Mit</td>
            <td>2020-04-05</td>
          </tr>
        </tbody>
      </table>
      <nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">Page: 1</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>
    </div>
  </div>
