html, body {
  padding:0px;
  margin:0px;
  font-family: 'Raleway', sans-serif;
}
.header_div{
  background-color:  #7b0708;
  border-bottom: 4px solid rgba(255,165,0);
}
#navbar-toggle-button{
  padding-left:5px;
  background-color:transparent;
  outline:none;
  border:none;
  color:rgb(255,165,0);
}
.navbar-title{
  color: rgb(255,165,0);
  font-size:40px;
  overflow: hidden;
  word-wrap:break-word;
}

.navbar-title:hover{
  color: rgb(255,165,0);
  text-decoration: none;
}


.navbar-link-right,.navbar-link-right:hover{
  color: rgb(255,165,0);
  text-decoration: none;
  font-size:20px;
  padding-left: 15px;
}
.navbar-link-right:hover{
    text-decoration: underline;
}

.card {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 0px;
  margin-top: 20px;
  width:70%;
  margin:auto;
  animation: moveInTop 1s ease-out;
}
.rightcolumn {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 2vh;
  background-color: white;
-webkit-box-shadow: -2px -7px 12px -1px rgba(194,179,194,0.73);
-moz-box-shadow: -2px -7px 12px -1px rgba(194,179,194,0.73);
box-shadow: -2px -7px 12px -1px rgba(194,179,194,0.73);
}
hr{
  margin-top:5px;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="time"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid rgb(206,212,218);
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="date"]:focus,
input[type="time"]:focus,
textarea.form-control:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid rgb(206,212,218);
}
textarea.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid rgb(206,212,218);
}
@keyframes moveInTop{
  0%{
    opacity:0;
    transform:translateY(-50px);
  }

  100%{
    opacity:1;

  }
}
.logo{
  width:70px;
}

.pass-print {
  display: none;
}
@media print {
 .no-print {
     display: none;
  }
  .pass-print {
     display: block;
  }
}

@media screen and (max-width: 768px) {
  .navbar-title {
    font-size: 6vw;
  }
  .card{
    width:95%;
  }
  .logo{
    width:50px;
  }
}
.thead-red th{
  background-color: #7b0708;
  color:rgba(255,165,0);
}

form label {
  font-weight:550;
}

.btn-primary{
  background-color:  #7b0708;
  color:  rgba(255,165,0);
  border-color:rgba(255,165,0);
  outline: rgb(255,165,0);
  box-shadow: none!important;
}

.btn-primary:active{
  background-color:  #7b0708 !important;
  color:  rgba(255,165,0) !important;
  border-color:rgba(255,165,0) !important;
  outline: rgb(255,165,0) !important;
  box-shadow: none!important;
}



.btn-primary:hover{
  color:  #7b0708;
  background-color:  rgba(255,165,0);
  border-color:rgba(255,165,0);
  outline: rgb(255,165,0);
}