body,html{
  padding:0px;
  margin:0px;
  font-family: 'Raleway', sans-serif;
  background-color:black;
  }
  .header_div{
    background-color:  #7b0708;
    border-bottom: 4px solid rgba(255,165,0);
    grid-column: one-start / four-end ;
    grid-row: row-one / row-two ;
  }
  #navbar-toggle-button{
    padding-left:5px;
    background-color:transparent;
    outline:none;
    border:none;
    color:rgb(255,165,0);
  }


  
  .login_div{
    background-color: #fff;
    grid-column: one-start / three-start;
    grid-row: row-two/row-four;
    -webkit-box-shadow: -0.3em 0 .9em  rgba(28,27,28,1);
  -moz-box-shadow: -0.3em 0 .9em rgba(28,27,28,1);
  box-shadow: -0.3em 0 .9em rgba(28,27,28,1);
  padding:2em;
  }
  
  .welcome_div{
    background-image: linear-gradient(to left,rgba(255, 235, 214, 0.7),rgba(212, 200, 230, 0.7)),url(/../assets/images/anna_long.png);
    grid-column: three-start / four-end;
    grid-row: row-two/row-four;
   background-attachment: fixed;
    background-position: top;
  background-size: cover;
  min-height: 80vh;
  -webkit-box-shadow: -0.3em 0 .9em  rgba(28,27,28,1);
  -moz-box-shadow: -0.3em 0 .9em rgba(28,27,28,1);
  box-shadow: -0.3em 0 .9em rgba(28,27,28,1);
  
  -webkit-clip-path: polygon(100% 3%, 100% 100%, 0 97%, 0 0);
  clip-path: polygon(100% 3%, 100% 100%, 0 97%, 0 0);
  
  padding:50px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  }
  .header__text-box{
  
   top: 20%; left: 20%;
   transform: translate(5%,5%);
  }
  
  .heading-primary {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-right: 20px;
   }
    .heading-primary--main {
      display: block;
      font-size: 4vw;
      font-weight: 400;
      animation-name: moveInLeft;
      animation-duration: 1s;
      animation-timing-function: ease-out;
    text-shadow: #616161 1px 0 10px;
      /*
          animation-delay: 3s;
          animation-iteration-count: 3;
          */ }
    .heading-primary--sub {
      display: block;
      font-size: 2vw;
      animation: moveInRight 1s ease-out; 
     text-shadow: #fff 3px 0 20px;
     color:#516161;  
    }
  
      .btnn, .btnn:link, .btnn:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 2rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size: 1.6rem;
        border: none;
        cursor: pointer; }
  
      .btnn:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
        .btn:hover::after {
          transform: scaleX(1.4) scaleY(1.6);
          opacity: 0; }
  
      .btnn:active, .btnn:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  
      .btnn--white {
        background-color: #fff;
        color: #777; }
        .btnn--white::after {
          background-color: #fff; }
  
  
  
  .footer_div{
  background-color: #b13f30;
  border-top: 4px solid rgba(255,165,0);
  grid-column: one-start / four-end;
  grid-row: row-four/row-five;
  color: rgba(255,165,0);
  padding:10px;
  text-align: center;
  }
  
  .container_index{
    display: grid;
    grid-template-rows: [row-one] auto [row-two] auto [row-three] auto [row-four] auto [row-five];
    grid-template-columns: [one-start] 1fr [two-start] 8rem [three-start] 1fr [four-start] 1fr [four-end];
  }
  
  .navbar-title{
    color: rgb(255,165,0);
    font-size:40px;
    overflow: hidden;
  }
  
  .navbar-title:hover{
    color: rgb(255,165,0);
    text-decoration: none;
  }
  
  
  .navbar-link-right,.navbar-link-right:hover{
    color: rgb(255,165,0);
    text-decoration: none;
    font-size:20px;
    padding-left: 15px;
  }
  .navbar-link-right:hover{
      text-decoration: underline;
  }
  
  input[type="text"]:focus,
  input[type="password"]:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid rgb(206,212,218);
  }
  .logo{
    width:70px;
  }
  
  @media screen and (max-width: 768px) {
    .navbar-title {
      font-size: 6vw;
    }
    .container_index{
  
    }
    .heading-primary--main{
      font-size: 8vw;
    }
    .heading-primary--sub{
      font-size: 4vw;
    }
    .welcome_div{
      grid-row: row-two/row-three;
      background-image: linear-gradient(to bottom,rgba(255, 235, 214, 0.8),rgba(212, 200, 230, 0.8)),url(/../assets/images/anna_long.png);
        background-position: center;
      grid-column: one-start / four-end;
    -webkit-clip-path: polygon(0 5%, 100% 0, 100% 96%, 0 100%);
  clip-path: polygon(0 5%, 100% 0, 100% 96%, 0 100%);
    }
    .login_div{
      grid-row: row-three/row-four;
      grid-column: one-start / four-end;
    }
    .logo{
      width:50px;
    }
    .mobile-welcome-div{
      
    }
      
  }
  